body{
font-family: Arial, sans-serif;
background:#f4f4f4;
margin:0;
padding:0;
text-align:center;
}

header{
background:#111;
color:white;
padding:20px;
}

#jogos{
margin-top:30px;
}

.jogo{
background:white;
margin:10px auto;
padding:15px;
width:300px;
border-radius:8px;
box-shadow:0 0 5px rgba(0,0,0,0.2);
}
